[
 {bizops, [
  {local_dev, true}
 ]},
 {logger, [
    {handle_otp_reports, false},
    {handle_sasl_reports, false}
 ]},
 {kernel, [
  {logger_level, debug},
  {logger, [
    %% Console logger
    {handler, default, logger_std_h, #{}}
  ]}
]},

 {opentelemetry,
  [
   {resource, [{service, #{name => "scansfer"}}]},
   {span_processor, batch},
   {sampler, {otel_sampler_always_on, #{}}},
   {traces_exporter, otlp}
   %{traces_exporter, {otel_exporter_stdout, []}}
 ]},
 {opentelemetry_exporter,
  [{otlp_protocol, http_protobuf}]},

"local"].
